.container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > h3 {
  font-size: 1rem;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px 0 5px;
  width: 100%;
  place-items: center;
}

.list > li:last-child {
  width: 100%;
  grid-column: span 2;
}

.list > li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option {
  font-size: 1rem;
  font-weight: 700;
}

.optionData {
  font-size: 1rem;
  font-weight: 700;
  color: rgb(66 180 202);
}

.mInfo {
  appearance: none;
  background-color: transparent;
  border: 2px solid cornsilk;
  border-radius: 15px;
  box-sizing: border-box;
  color: cornsilk;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  outline: none;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.mInfo:disabled {
  pointer-events: none;
}

.mInfo:hover {
  color: rgb(27, 27, 27);
  border: 2px solid rgb(27, 27, 27);
  background-color: cornsilk;
  box-shadow: rgba(191, 222, 66, 0.5) 0 8px 15px;
  transform: translateY(-2px);
}

.mInfo:active {
  box-shadow: none;
  transform: translateY(0);
}
