svg {
    max-width: calc(100vw * 0.7);
    background: no-repeat center  url("../../assets/portal.png");
    background-size: contain;
    margin-top: 20px;
    max-height: calc(100vh * 0.3);
    /* margin-bottom: 20px; */
}