.container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 100vw;
    gap: 24px;
    padding: 10px 24px;
  }

  .centered {
    padding-top: 20px;
    justify-content: center;
  }

  .container::-webkit-scrollbar {
    display: none;
  }