.container {
  height: 45px;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 8px;
  width: 50%;
  min-width: 300px;
  align-items: stretch;
  border-radius: 24px;
  padding: 4px;
  margin: 25px 0;
  font-size: 2.2rem;
  box-shadow: rgba(191, 222, 66, 0.5) 1.95px 1.95px 2.6px;
}

.searchBarLabel {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.searchBar {
  width: 100%;
  border: none;
  text-align: center;
  background-color: transparent;
}

.searchBar:focus {
  outline: none;
  border-bottom: 1px solid gray;
}

.button {
  font-size: 1.6rem;
  border: none;
  padding: 0;
  margin: 0;
  height: 100%;
  cursor: pointer;
  background: transparent;
}
