.container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  max-width: 100vw;
  gap: 24px;
  padding: 10px 24px;
  margin-top: 20px;
}

.container::-webkit-scrollbar {
  display: none;
}

.containerFavorites {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 10px 5px;
  max-width: 85vw;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
