@font-face {
   font-family: 'get_schwifty';
   src: url('./fonts/get-schwifty.woff') format('woff');
}

.App {
   height: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   /* justify-content: center; */
   align-items: center;
   background-color: rgb(27, 27, 27);
}
